<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        {%- include social.html -%}
      </div>

      {% if site.promo %}
      <div class="footer-col footer-col-1">
        <a href="/book" alt="Book Order Page">
          <img src="/assets/images/bookpage/banner.jpg">
        </a>
      </div>
      {% endif %}

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
