---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.excerpt == content -%}
    {{ content }}
    {%- else -%}
    {{ content | remove_first:page.excerpt }}
    {%- endif -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="recommended">

  {% assign maxRelated = 4 %}
  {% assign relatedPosts = "" | split: ',' %}
  {% assign postCount = site.posts | size %}
  {% assign allPostsRandom = site.posts | where_exp:"post","post.url != page.url" | sample: postCount - 1 %}
  <!-- find related by category -->
  {% for post in allPostsRandom %}
    {% for category in post.categories %}
        {% if page.categories contains category %}
          {% assign relatedPosts = relatedPosts | push: post %}
          {% break %}
        {% endif %}
    {% endfor %}
  {% endfor %}
  <!-- fill the rest with random -->
  {% for post in allPostsRandom %}
    {% assign found = relatedPosts | size %}
    {% if found >= maxRelated %}
      {% break %}
    {% endif %}
    {% if relatedPosts contains post %}
      {% continue %}
    {% endif %}
    {% assign relatedPosts = relatedPosts | push: post %}
  {% endfor %}

  <div class="recommended-title">Recommended</div>

  {% for post in relatedPosts %}
    <a class="recommended-item" href="{{ post.url | relative_url }}" title="{{ post.title | escape }}">
      {% picture {{ post.image }} {{ site.main_ratio }} %}
      <h3 class="post-link">
        {{ post.title | escape }}
      </h3>
    </a>
  {% endfor %}

</div>
